<mat-card class="example-card" appearance="outlined">
  <mat-card-header class="example-header">
    <div class="row">
      <div class="col-md-12">
          <section class="example-section">
              <mat-radio-group [(ngModel)]="labelPosition">
                  <mat-radio-button class="example-margin" value="all">普通查词</mat-radio-button>
                  <mat-radio-button class="example-margin" value="before">前缀查词</mat-radio-button>
                  <mat-radio-button class="example-margin" value="after">后缀查词</mat-radio-button>
                  <mat-radio-button class="example-margin" value="central">中间查词</mat-radio-button>
              </mat-radio-group>
          </section>
    
            <mat-form-field  class="custom-rounded-form-field">
              <input matInput type="text"  placeholder="Search"  (keydown)="onKeyDown($event)"  [(ngModel)]="value">
              <button *ngIf="value"  matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
              </button>
              <button matSuffix mat-icon-button aria-label="Search" (click)="Search()">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
      </div>
    </div>
</mat-card-header>


<mat-card-content>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>电影词频排序 </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    
    <!-- Name Column -->
    <ng-container matColumnDef="coca">
      <th mat-header-cell *matHeaderCellDef>CACO排名 </th>
      <td mat-cell *matCellDef="let element"> {{element.coca}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="word">
      <th mat-header-cell *matHeaderCellDef>单词</th>
      <td mat-cell *matCellDef="let element"> {{element.word}} </td>
    

    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="frequency">
      <th mat-header-cell *matHeaderCellDef>电影词频 </th>
      <td mat-cell *matCellDef="let element"> {{element.frequency}} </td>
    </ng-container>

    <ng-container matColumnDef="operation" style="width: 100px;">
      <th mat-header-cell *matHeaderCellDef >查看例句</th>
      <td mat-cell *matCellDef="let element">
        <button  style="color: rgb(64, 158, 255) !important;" mat-stroked-button (click)="seeSentence(element)" mat-button>查看例句</button>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      class="demo-paginator"
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSize]="pageSize"
      [disabled]="disabled"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
      [hidePageSize]="hidePageSize"
      [pageIndex]="pageIndex"
      aria-label="Select page">
  </mat-paginator>
</mat-card-content>
</mat-card>

  