.example-form-field {
    width: 100%;
}

.mat-typography {
  width: 800px;
}
.series{
  min-width: 100px;
}

.mat-column-series {
  min-width: 120px;
}





.example-form-field {
  width: 100%;
}


.mat-typography {
max-width: 1000px;
}
.mat-column-chinese{
min-width: 100px;
}

.mat-column-series{
min-width: 70px;
max-width: 100px;
}

.mat-column-id {
min-width: 70px;
}

.mat-mdc-header-row {
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
height: var(--mat-table-header-container-height, 56px);
color: var(--mat-table-header-headline-color, rgba(0, 0, 0, 0.87));
font-family: var(--mat-table-header-headline-font, Roboto, sans-serif);
line-height: var(--mat-table-header-headline-line-height);
font-size: var(--mat-table-header-headline-size, 14px);
font-weight: var(--mat-table-header-headline-weight, 500);
background-color: rgb(64, 158, 255) !important;
color: white !important;
}
.highlight {
background-color: yellow;
font-weight: bold;
}

::ng-deep .nb-theme-material-light .mdc-data-table__header-cell {
  color: white !important;
}
