:host {
    display: block;
  }
  
  .input-example {
    display: block;
    margin-top: 1rem;
  }
  .container {
    width: 420px;
    margin: 20px auto;
  }
  
  .container h3 {
    font-size: xx-large;
  }
  
  .container h4 {
    font-size: x-large;
  }
  
    @media (min-width: 768px) {
  
    
      .responsiveDialog{
        min-width: 600px;
      }
    }
  
  .ngx-upload-images {
      width: 100%;
  }
    
  