<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-body>
            <button nbButton (click)="addData()" matRipple status="primary">添加预算</button>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <nb-card>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> 序号 </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="dateFrom">
        <th mat-header-cell *matHeaderCellDef> 开始时间 </th>
        <td mat-cell *matCellDef="let element"> {{element.dateFrom}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="dateTo">
        <th mat-header-cell *matHeaderCellDef> 结束时间 </th>
        <td mat-cell *matCellDef="let element"> {{element.dateTo}} 
        </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> 预算金额 </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} 
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="usedAmount">
        <th mat-header-cell *matHeaderCellDef> 已消费金额 </th>
        <td mat-cell *matCellDef="let element"> {{element.usedAmount}} 
        </td>
      </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="usedAmountAvg">
          <th mat-header-cell *matHeaderCellDef> 已消费日均【包含今日】 </th>
          <td mat-cell *matCellDef="let element"> {{element.usedAmountAvg}} 
          </td>
        </ng-container>

        <ng-container matColumnDef="couldSaveAmount">
          <th mat-header-cell *matHeaderCellDef> 本可以节省【不太必要消费】 </th>
          <td mat-cell *matCellDef="let element"> {{element.couldSaveAmount}} 
          </td>
        </ng-container>


      <!-- Weight Column -->
      <ng-container matColumnDef="availableAmount">
        <th mat-header-cell *matHeaderCellDef> 可消费金额 </th>
        <td mat-cell *matCellDef="let element"> {{element.availableAmount}} 
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="availableAmountAvg">
        <th mat-header-cell *matHeaderCellDef> 可消费日均【不包含今日】 </th>
        <td mat-cell *matCellDef="let element"> {{element.availableAmountAvg}} 
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="createAt">
        <th mat-header-cell *matHeaderCellDef>创建时间</th>
        <td mat-cell *matCellDef="let element">
          {{element.createAt}} 
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </nb-card>
    
    