
table {
  width: 100%;
}

.mat-column-productServiceName {

    /* or this if you want the column to auto-adjust to the width of the table */
    width: 220px;
    min-width: 95px;
    
  }

  .mat-column-spentDate {

    /* or this if you want the column to auto-adjust to the width of the table */
    width: 220px;
    min-width: 136px;
  }



  .mat-column-pricees {

    /* or this if you want the column to auto-adjust to the width of the table */
    width: 172px;
    min-width: 61px;
  }

  .mat-column-categoryName {

    /* or this if you want the column to auto-adjust to the width of the table */
    width: 172px;
    min-width: 61px;
  }


  .mat-column-usedForName {

    /* or this if you want the column to auto-adjust to the width of the table */
    width: 172px;
    min-width: 61px;
  }

  .mat-column-accountName {

    /* or this if you want the column to auto-adjust to the width of the table */
    width: 172px;
    min-width: 61px;
  }

  
  
  
  .mat-column-couldSave {

    /* or this if you want the column to auto-adjust to the width of the table */
    width: 172px;
    min-width: 61px;
  }

   
  .mat-column-operation {
    min-width: 82px;
  }