<div class="login-container" fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
  
      <h1 class="title">记账系统-ADMIN</h1>
   
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>用户名</mat-label>
          <input matInput formControlName="accountUsername" required />
          <mat-error *ngIf="loginForm.get('accountUsername')?.invalid">用户名是必填项</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>密码</mat-label>
          <input matInput type="password" formControlName="accountPassword" required />
          <mat-error *ngIf="loginForm.get('accountPassword')?.invalid">密码是必填项</mat-error>
        </mat-form-field>
        
        
        <button mat-flat-button extended   color="primary"   class="full-width" type="submit">登录</button>

      
      </form>
    </mat-card-content>
  </mat-card>
</div>
