.mat-column-categoryName{
    width: 260px;
    min-width: 120px;
}
.mat-column-name{
    width: 260px;
    min-width: 146px;
}
.mat-column-price{
    width: 260px;
    min-width: 146px;
}

.mat-column-purchaseDate{
    width: 260px;
    min-width: 146px;
}

.mat-column-isCarried{
    width: 260px;
    min-width: 146px;
}

.mat-column-storageLocation{
    width: 260px;
    min-width: 146px;
}

.mat-column-operation{
    min-width: 146px;
}

table {
    width: 100%;
  }